.header {
    grid-area: header;
    background-color: rgb(8, 8, 8);
  }
  
.header img {
    width: 60px;
  }

.loginBlock {
  float: right;
  margin: 20px;
  color:white;
}

.loginBlock a {
  color: white; 
}